{% extends viewbaseLayout %}
{% block content %}
<article class="summary blog_post">
  <h2><a href="{{ path( location ) }}">{{ location.contentInfo.name }}</a></h2>
  {{ ez_render_field( content, "summary" ) }}
</article>
{% endblock %}
