<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="unsupported-ie ie" lang="{{ app.request.locale }}"><![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="{{ app.request.locale }}"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="{{ app.request.locale }}"><!--<![endif]-->
<head>
    {# TODO: this probably won't be needed anymore as we will relay on the HTTP cache #}
    {% include 'eZDemoBundle::page_head_displaystyles.html.twig' %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    {% block page_head %}
        {% include 'eZDemoBundle::page_head.html.twig' %}
    {% endblock %}
    {% include 'eZDemoBundle::page_head_style.html.twig' %}
    {% include 'eZDemoBundle::page_head_script.html.twig' %}
</head>
<body>
<!-- Complete page area: START -->
{% if location is defined and not location.isDraft %}
    {{ render( controller( "ezpublish_legacy.website_toolbar.controller:websiteToolbarAction", { 'locationId': location.id} ) ) }}
{% endif %}
<div id="page" class="">
    <!-- Header area: START -->
    {% block header %}
        {% include 'eZDemoBundle::page_header.html.twig' %}
    {% endblock %}
    <!-- Header area: END -->
    <div class="navbar main-navi">
        <!-- Top menu area: START -->
        {% block topMenu %}
            {{ render_esi( controller( "eZDemoBundle:Demo:topMenu" ) ) }}
        {% endblock %}
        <!-- Top menu area: END -->
        {# TODO: implement logic to control path visibility #}
        <!-- Path area: START -->
        {% if pageData is defined and pageData.showPath %}
            {% block path %}
                {% include 'eZDemoBundle::page_toppath.html.twig' %}
            {% endblock %}
        {% endif %}
        <!-- Path area: END -->
    </div>
    <div class="container">
        <div class="row">

<h1>tutorial bundle pagelayout</h1>
<p>{{ '5000'|price }}</p>
<p>{{ render( controller( "tutorial.fetch_controller:test" ) ) }}</p>

{{ render( controller( "tutorial.fetch_controller:blogPosts", { 'subTreeLocationId': 90 } ) ) }}

            <!-- Main area: START -->
            <div class="span{{ innerColumnSize|default( 12 ) }} main-content">
                {% block content %}{% endblock %}
            </div>
            <!-- Main area: END -->
        </div>
    </div>
    <!-- Footer area: START -->
    {% block footer %}
    {{ render( controller( "eZDemoBundle:Footer:index" ) ) }}
    {% endblock %}
    <!-- Footer area: END -->
</div>
<!-- Complete page area: END -->

<!-- Footer script area: START -->
{% block footerScript %}
    {% include 'eZDemoBundle::page_footer_script.html.twig' %}
{% endblock %}
<!-- Footer script area: END -->

</body>
</html>
