{% for post in posts %}
{{
  render(
    controller(
      "ez_content:viewLocation",
      {
        'locationId': post.contentInfo.mainLocationId,
        'viewType': 'line'
      }
    )
  )
}}
{% endfor %}
